.@{sky}-button{
  color: #fff;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  // primary
  &-primary{
    border: 1px solid @primary;
    background-color: @primary;
    &:hover{
      border: 1px solid @primary-hover;
      background-color: @primary-hover;
    }
  }
  // success
  &-success{
    border: 1px solid @success;
    background-color: @success;
    &:hover{
      border: 1px solid @success-hover;
      background-color: @success-hover;
    }
  }
  // warning
  &-warning{
    border: 1px solid @warning;
    background-color: @warning;
    &:hover{
      border: 1px solid @warning-hover;
      background-color: @warning-hover;
    }
  }
  &-load{
    animation: load-loop 1s linear infinite;
  }
  // error
  &-error{
    border: 1px solid @error;
    background-color: @error;
    &:hover{
      border: 1px solid @error-hover;
      background-color: @error-hover;
    }
  }
  &-dashed{
    color: #777575;
    border: 1px dashed @text;
    background-color: @text;
    &:hover{
      border-color: black;
    }
  }
  &-disabled{
    color: @disabled;
    cursor: not-allowed;
    border: 1px solid @text-border;
    background-color: @text;
  }
  // text
  &-text{
    color: black;
    border: 1px solid #fff;
    background-color: #fff;
    &:hover{
      color: @focus;
    }
  }
  // disabled
  &-lg{
    padding: 10px 15px;
    border-radius: 5px;
  }
  &-md{
    font-size: 0.9em;
    padding: 7px 12px;
    border-radius: 3px;
  }
  &-sm{
    font-size: 0.7em;
    padding: 5px 8px;
    border-radius: 2px;
  }
  outline: none; // 去除按钮点击时的边框
}

@keyframes load-loop{
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}