.@{sky}-button{
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #28bf2d;
  background-color: #28bf2d;
  outline: none; // 去除按钮点击时的边框
  &:hover{
    border: 1px solid #54dc59;
    background-color: #54dc59;
  }
}