.@{sky}-card{
  display: block;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #e9eaec;
  border-radius: 5px;
  transition: box-shadow .3s ease-in-out;
  & legend{
    font-size: 12px;
  }
  &-shadow:hover{
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border-color: #eee;
  }
  &-header{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9eaec;
  }
  &-content{
    font-size: 14px;
    padding-top: 14px;
  }
}